<button mat-raised-button color="primary" >TEST BUTTON</button>
<button mat-flat-button color="red" >TEST BUTTON</button>
<button mat-stroked-button color="blue" >TEST BUTTON</button>


<nav
  mat-tab-nav-bar>
  <!-- 클릭하면 ts 파일의 activeLinkIndex = i 값으로 바뀐다 -->
  <!-- 그러면 [active] 조건을 확인하게 되고, activeLinkIndex 가 해당 태그의 i 값이랑 같다면 active 가 이루어진다 -->
  <a href=""
    mat-tab-link
    *ngFor="let routerLink of routeLinks; let i = index"
    [routerLink]="routerLink.link"
    [active]="activeLinkIndex === i"
    (click)="activeLinkIndex = i"
  >
    {{ routerLink.label }}
  </a>
</nav>
<router-outlet></router-outlet>
